.project_edit {
  display: grid;
  grid-template-columns: 285px 275px 275px;
  grid-column-gap: 24px;
  padding: 55px 77px 120px 59px;
  grid-template-rows: 61px 192px 27px;
  background: #fff;
  border-radius: 24px 24px 0 0;
  width: fit-content;
  height: 100vh;
}

.form_input {
  width: 100%;
}

.desc_edit {
  grid-column: 1/4;
  padding-bottom: 45px;
  padding-top: 24px;
}

.form_field_edit {
  width: 285px;

}

.edit-project-btn {
  background: #d1d1d1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  height: fit-content;
}
.error {
  color: #d9534f;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
}